<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let curso of cursos$ | async">
            <mat-card style="margin-top: 10px;">
                <mat-card-header>
                    <mat-card-title>{{ curso.nombre }}</mat-card-title>
                    <mat-card-subtitle>{{ curso.comision }}</mat-card-subtitle>
                </mat-card-header>
                <img class="card-imagen" mat-card-image src="https://parentesis.com/imagesPosts/coder00.jpg" alt="">
                <mat-card-content>
                    <p>Impartido por {{ curso.profesor.nombre }}</p>
                    <p>Inicia el  {{ curso.fechaInicio | formatoFecha }} </p>
                    <p [appBooleanoEstilo]="curso.inscripcionAbierta">{{ curso.inscripcionAbierta | booleanoATexto:'Inscripciones abiertas':'Inscripciones cerradas' }}</p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button class="button-actions" mat-raised-button color="accent" (click)="redirigirDetalleCurso(curso)">
                        Detalle
                    </button>
                    <button class="button-actions" mat-raised-button color="primary" (click)="redirigirEditarCurso(curso)">
                        Editar
                    </button>
                    <button class="button-actions" mat-raised-button color="warn" (click)="eliminarCurso(curso)">
                        Eliminar
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>